TARGET_BIGQUERY_PROJECT_ID=your-gcp-project-id
TARGET_BIGQUERY_DATASET=olist_raw
TARGET_BIGQUERY_LOCATION=US
GOOGLE_APPLICATION_CREDENTIALS=gcp-credentials.json
TAP_SPREADSHEETS_ANYWHERE_DATA_PATH=/absolute/path/to/meltano-olist/data
